body {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  margin: 20px;
}

td {
  padding: 10px;
}

a:visited {
  color: inherit;
}

.movie-table {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}